{% extends 'layout.html' %}
{% block title %}Check Fields{% endblock%}


{% block content %}
<h1>Check Fields</h1>

<p>These are the columns of your uploaded CSV, paired with the corresponding parameters for searching the databases:</p>
<ul>
{% for column in columns %}
<li>{{ column }}</li>
{% endfor %}
</ul>

{% endblock %}

{% block footer %}
<footer>created 2023 by the <a href="https://github.com/computational-rarity-team" target="_blank">Computational Rarity Team</a></footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}