{% extends 'layout.html' %}
{% block title %}Get Options{% endblock%}


{% block content %}
<h1>Discogs Results</h1> 


<form action="/get_options.html">

    <dl>
        
    {% for entry in results %}
    <dt>{{ entries[loop.index-1] }}</dt>
    <dd>
        {% if entry is string %}
            <ul>
                <li>No entries found, would you like to <a href="search_further?num={{ entry }}">search further automatically</a>?</li>
            </ul>
        {% else %}
            {% if entry is integer %}
                <ul>
                    <li>No entries found, would you like to <a href="search_further?num={{ entry }}">search further automatically</a>?</li>
                </ul>
            {% endif %}
            {% if entry|length > 0 %}
                <ul>
                {% for result in entry %}
                    <li>
                        <a href="https://discogs.com/release/{{ result }}" target="_blank">Discogs ID: {{ result }}</a>
                        <h2>{{ titles[loop.index] }}</h2>
                        <h3>{{ artists[loop.index] }}</h3>
                        <h4>{{ years[loop.index] }}</h4>
                        <img src="{{ images[loop.index] }}" style="max-height: 75px;"/>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No entries found for {{ entries[loop.index] }}, perhaps your CSV is incorrectly formatted?</p>
            {% endif %}
        {% endif %}
            <p>Pick a more specific search term for the next batch process:</p>
            <p>
                <label for="{{ result }}-title">Title</label>
                <input type="text" size="50" name="{{ result }}-title" value="{{ titles[loop.index-1] }}" />
            </p>
            <p>
                <label for="{{ result }}-artist">Artist</label>
                <input type="text" size="50" name="{{ result }}-artist" value="{{ artists[loop.index-1] }}" />
            </p>
            <p>
                <label for="{{ result }}-years">Year</label>
                <input type="text" size="50" name="{{ result }}-year" value="{{ years[loop.index-1] }}" />
            </p>
            <p><img src="{{ images[loop.index-1] }}" style="max-width: 100px;" /></p>
    </dd>
{% endfor %}
    <input type="submit" value="Search Again" />

</form>

{% endblock %}

{% block footer %}
<footer>created 2023 by the <a href="https://github.com/computational-rarity-team" target="_blank">Computational Rarity Team</a></footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}