{% extends 'layout.html' %}
{% block title %}Get Options{% endblock%}


{% block content %}
<h1>Discogs Results</h1> 
<dl>
{% for entry in results %}
<dt>{{ entry }}</dt>
<dd>
    <li><a href="https://discogs.com/release/{{entry}}" target="_blank">{{entry}}</a></li>
</dd>
{% endfor %}

{% endblock %}

{% block footer %}
<footer>created 2023 by the <a href="https://github.com/computational-rarity-team" target="_blank">Computational Rarity Team</a></footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}