<!DOCTYPE html>
<html lang="en-us" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="computational rarity team">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}" ></style>
		<title>{% block title %}{% endblock %}</title>
		{% block style %}
		{% endblock %}
		{% block script %}
		{% endblock %}
	</head> 

	<body>
		{% block content %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
	</body>
</html> 