{% extends 'layout.html' %}
{% block title %}Row {{rowno}}{% endblock%}


{% block content %}

<p>Row {{rowno}}</p>

<!--<form action="/">
    <input type="text" value={{pages}} />
    <input type="submit" value="Next Entry" />
</form>-->
<a href="/">Next Page</a>

{% endblock %}

{% block footer %}
<footer>created 2023 by the <a href="https://github.com/computational-rarity-team" target="_blank">Computational Rarity Team</a></footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}