{% extends 'layout.html' %}
{% block title %}CSV Display{% endblock%}


{% block content %}
<h1>Discogs and Musicbrainz Results</h1> 

<h3>Musicbrainz Results</h3>
<ul>
    {% for result in results[0] %}
    {% if result != 'not found' -%}
    <li><a href="https://musicbrainz.org/release-group/{{result}}" target="_blank">{{result}}</a></li>
    {% else -%}
    <li><a href="https://musicbrainz.org/" target="_blank">Not found!</a></li>
    {% endif %}
    {% endfor %}
</ul>

<h3>Discogs Results</h3>
<ul>
    {% for result in results[1] %}
    <li><a href="https://discogs.com/release/{{result}}" target="_blank">{{result}}</a></li>
    {% endfor %}
</ul>

{% endblock %}

{% block footer %}
<footer>created 2023 by the <a href="https://github.com/computational-rarity-team" target="_blank">Computational Rarity Team</a></footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}