{% extends 'layout.html' %}
{% block title %}CSV Display{% endblock%}


{% block content %}
<h1>Uploaded Data</h1> 
{{ data_var|safe }}

<!--<form action="/show_entries">
    <input type="submit" value="Find Matches" />
</form>-->

<form action="/check_fields">
    <input type="submit" value="Check Fields" />
</form>

{% endblock %}

{% block footer %}
<footer>created 2023 by the <a href="https://github.com/computational-rarity-team" target="_blank">Computational Rarity Team</a></footer>
{% endblock %}

{% block script %} <script type="text/javascript"> window.onload = () => console.log('Document ready!'); </script> {% endblock %}